<tr>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle"><img src="<%= badge.image %>" height="50"></td>
  <td class="align-middle"><%= badge.rule %> - <%= badge.sub_rule %></td>
  <td class="align-middle"><%= link_to t('.show_link'), admin_badge_path(badge) %></td>
  <td class="align-middle"><%= link_to t('.edit_link'), edit_admin_badge_path(badge) %></td>
  <td class="align-middle">
    <%= link_to t('.delete_link'), admin_badge_path(badge),
                method: :delete,
                data: { confirm: t('.delete_notice') } %>
  </td>
</tr>
