<%= form_with model: [:admin, @badge], local: true do |form| %>

  <div class="form-group">

    <%= render 'shared/errors', resource: @badge %>

    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :image, class: 'form-label' %>
      <%= form.text_field :image, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :rule, class: 'form-label' %>
      <%= form.select :rule,
                      options_for_select(Badge.rules.map { |key, value| [key.humanize, key] }),
                      { prompt: "Select Rule for Badge..." },
                      class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :sub_rule, class: 'form-label' %>
      <%= form.text_field :sub_rule, class: 'form-control' %>
    </div>

    <%= form.submit class: 'btn btn-primary' %>

  </div>

<% end %>
