<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= link_to t('.show_link'), admin_test_path(test) %></td>
  <td><%= link_to t('.edit_link'), edit_admin_test_path(test) %></td>
  <td><%= link_to t('.delete_link'), admin_test_path(test), method: :delete, data: { confirm: t('.delete_notice') } %></td>
</tr>
