<h1>Title: <%= @test.title %></h1>
<p>Level: <%= @test.level %></p>

<p><%= link_to 'New question', new_test_question_path(@test) %></p>

<h2>Questions:</h2>
  <% if @test.questions.present? %>
    <table>
      <tr>
        <th>Question</th>
        <th colspan="3">Action</th>
      </tr>
      <% @test.questions.each do |question| %>
        <tr>
          <td><%= question.body %></td>
          <td><%= link_to 'Show', question_path(question) %></td>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
          <td><%= link_to 'Delete', question_path(question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    No questions in this test...
  <% end %>

<p><%= link_to 'Back', tests_path %></p>
