<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <div class="logo">
        <%= link_to 'Test Guru', root_path %>
      </div>

      <div class="user">
        <% if logged_in? %>
            Welcome, <b><%= current_user.name %> Guru</b><br>
            <b><%= button_to "Logout", logout_path, method: "delete" %></b>
        <% else%>
            <b><%= button_to "Sign Up", signup_path, method: :get %></b>
            <b><%= button_to "Login", login_path, method: :get %></b>
        <% end%>
      </div>
  </div>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
